<div _ngcontent-ng-c3834033430="" class="swiper-promote-box ng-star-inserted"
  style="background-color: rgb(196, 216, 227);">
  <div _ngcontent-ng-c3834033430="" class="swiper-box">
    <swiper _ngcontent-ng-c3834033430=""
      class="mySwiper swiper swiper-initialized swiper-horizontal swiper-pointer-events">
      <div class="swiper-button-prev ng-star-inserted" tabindex="0" role="button" aria-label="Previous slide"
        aria-controls="swiper-wrapper-a6d0e5d61cd1f523"></div>
      <div class="swiper-button-next ng-star-inserted" tabindex="0" role="button" aria-label="Next slide"
        aria-controls="swiper-wrapper-a6d0e5d61cd1f523"></div><!----><!----><!---->
      <div
        class="swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic ng-star-inserted"
        style="width: 80px;"><span
          class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main"
          aria-current="true" style="left: 32px;"></span><span
          class="swiper-pagination-bullet swiper-pagination-bullet-active-next" style="left: 32px;"></span><span
          class="swiper-pagination-bullet swiper-pagination-bullet-active-next-next" style="left: 32px;"></span><span
          class="swiper-pagination-bullet" style="left: 32px;"></span><span class="swiper-pagination-bullet"
          style="left: 32px;"></span><span class="swiper-pagination-bullet" style="left: 32px;"></span><span
          class="swiper-pagination-bullet" style="left: 32px;"></span><span class="swiper-pagination-bullet"
          style="left: 32px;"></span><span class="swiper-pagination-bullet" style="left: 32px;"></span><span
          class="swiper-pagination-bullet" style="left: 32px;"></span><span class="swiper-pagination-bullet"
          style="left: 32px;"></span><span class="swiper-pagination-bullet" style="left: 32px;"></span><span
          class="swiper-pagination-bullet" style="left: 32px;"></span><span class="swiper-pagination-bullet"
          style="left: 32px;"></span><span class="swiper-pagination-bullet" style="left: 32px;"></span><span
          class="swiper-pagination-bullet" style="left: 32px;"></span><span class="swiper-pagination-bullet"
          style="left: 32px;"></span><span class="swiper-pagination-bullet" style="left: 32px;"></span><span
          class="swiper-pagination-bullet" style="left: 32px;"></span><span class="swiper-pagination-bullet"
          style="left: 32px;"></span></div><!---->
      <div class="swiper-wrapper" id="swiper-wrapper-a6d0e5d61cd1f523" aria-live="off"
        style="transition-duration: 0ms; transform: translate3d(-1275px, 0px, 0px);">
        <div data-swiper-slide-index="19" class="swiper-slide swiper-slide-duplicate ng-star-inserted swiper-slide-prev"
          role="group" aria-label="20 / 20" style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/DR.%20BOPLUS" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-03-01-1584035741690.jpg"></div>
          </a><!----><!----><!----></div><!----><!---->
        <div data-swiper-slide-index="0" class="swiper-slide ng-star-inserted swiper-slide-active" role="group"
          aria-label="1 / 20" style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/Eucerin" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-658467042552.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="1" class="swiper-slide ng-star-inserted swiper-slide-next" role="group"
          aria-label="2 / 20" style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/BIOBORNE" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-02-01-601026833014.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="2" class="swiper-slide ng-star-inserted" role="group" aria-label="3 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430="" href="https://www.365wecare.com/brand/CETAPHIL"
            class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-06-24-491518002877.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="3" class="swiper-slide ng-star-inserted" role="group" aria-label="4 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430="" href="https://www.365wecare.com/brand/citizen"
            class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2023-10-25-855454875921.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="4" class="swiper-slide ng-star-inserted" role="group" aria-label="5 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430="" href="https://www.365wecare.com/brand/YUWELL"
            class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-03-01-583783423287.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="5" class="swiper-slide ng-star-inserted" role="group" aria-label="6 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430="" href="" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-1695485974315.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="6" class="swiper-slide ng-star-inserted" role="group" aria-label="7 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/VICHY?name=vichy" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-1418647794027.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="7" class="swiper-slide ng-star-inserted" role="group" aria-label="8 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430="" href="https://www.365wecare.com/brand/LIVEWELL"
            class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-03-01-1641995809345.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="8" class="swiper-slide ng-star-inserted" role="group" aria-label="9 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/PRIMANEST?name=primanest" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-219575278833.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="9" class="swiper-slide ng-star-inserted" role="group" aria-label="10 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/FASICARE?name=fasicare" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-1475980254752.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="10" class="swiper-slide ng-star-inserted" role="group" aria-label="11 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430="" href="https://www.365wecare.com/brand/PRIMANEST"
            class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-791867311735.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="11" class="swiper-slide ng-star-inserted" role="group" aria-label="12 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430="" href="https://www.365wecare.com/brand/Zoflora"
            class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-03-01-850521763720.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="12" class="swiper-slide ng-star-inserted" role="group" aria-label="13 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430="" href="https://www.365wecare.com/brand/TENKEN"
            class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-03-01-1017480602463.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="13" class="swiper-slide ng-star-inserted" role="group" aria-label="14 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/TRIPLE%20Y?name=triple%20y" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-646270735736.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="14" class="swiper-slide ng-star-inserted" role="group" aria-label="15 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/FUTURO?name=futuro" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-979124803316.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="15" class="swiper-slide ng-star-inserted" role="group" aria-label="16 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/Everest?name=everest" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-1511922175424.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="16" class="swiper-slide ng-star-inserted" role="group" aria-label="17 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430="" href="https://www.365wecare.com/brand/Vitech"
            class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-04-26-540754372865.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="17" class="swiper-slide ng-star-inserted" role="group" aria-label="18 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/MEGA%20WECARE" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-398661242158.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="18" class="swiper-slide ng-star-inserted" role="group" aria-label="19 / 20"
          style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430="" href="https://www.365wecare.com/brand/NEOCA"
            class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-03-01-456605465976.jpg"></div>
          </a><!----><!----><!----></div>
        <div data-swiper-slide-index="19" class="swiper-slide ng-star-inserted swiper-slide-duplicate-prev" role="group"
          aria-label="20 / 20" style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/DR.%20BOPLUS" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-03-01-1584035741690.jpg"></div>
          </a><!----><!----><!----></div><!----><!---->
        <div data-swiper-slide-index="0" class="swiper-slide swiper-slide-duplicate ng-star-inserted" role="group"
          aria-label="1 / 20" style="width: 1275px;"><!----><a _ngcontent-ng-c3834033430=""
            href="https://www.365wecare.com/brand/Eucerin" class="ng-star-inserted">
            <div _ngcontent-ng-c3834033430=""><img _ngcontent-ng-c3834033430="" width="100%" height="100%"
                src="https://www.365wecare.com/images/promote_slide/promote_slide_2024-08-30-658467042552.jpg"></div>
          </a><!----><!----><!----></div><!----><!---->
      </div><!----><span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
    </swiper>
  </div>
</div>
